.redirect{
    display: flex;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    justify-content: end;
}

.redirect:hover{
    color: black;
    text-decoration: underline;
}
.error{
    color: red;
    margin:0 auto;
    width: fit-content;
}